<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inserir novos dados</title>
</head>
<body>
    <form  action="/atualizado" method="post">

        <p>ID: </p>
        <input type="text" name="id">
        <p>Nome: </p>
        <input type="text" name="nome"><br>
        <p>CPF: </p>
        <input type="text" name="cpf"><br>
        <p>Email: </p>
        <input type="text" name="email"><br>
        <p>Telefone: </p>
        <input type="text" name="telefone">
        <p>Fidelidade: </p>
        <input  type="text" name="fidelidade" value="true"><br><br>
        <input class="button-send" type="submit" name="Enviar">
</form>

<a href="./menu.html">Voltar ao menu </a>
</body>
</html>